
@import url(http://fonts.googleapis.com/css?family=Raleway:700,,400,200,300);
* {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
body, html {
  padding: 3px 3px 3px 3px;
  background-color: white;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  font-weight: 300;
  text-align: center;
}
main {
  font-weight: 300;
  width:60%;
  min-width: 400px;
  background-color: white;
  box-shadow: 3px 3px 20px #777;
  margin: auto;
  padding: 50px;
  text-align: left;
}
p {
  margin-top: 10px;
  margin-bottom: 10px;
}